<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation
        android:name="org.framefilm.ark.ConnectivityProbe"
        android:targetPackage="${applicationId}"
        android:label="Ark connectivity probe" />
</manifest>
