<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation android:name="org.framefilm.ark.NativeAppProbe"
        android:targetPackage="${applicationId}" android:label="Ark native UI cancel and retry probe" />
    <instrumentation
        android:name="org.framefilm.ark.ConnectivityProbe"
        android:targetPackage="${applicationId}"
        android:label="Ark connectivity probe" />
    <instrumentation
        android:name="org.framefilm.ark.DirectTransferProbe"
        android:targetPackage="${applicationId}"
        android:label="Ark direct film transfer probe" />
</manifest>
